<app-topo></app-topo>
<app-painel
    *ngIf="jogoEmAndameto; else fimDeJogo"
    (encerrarJogo)="encerrarJogo($event)"
></app-painel>

<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'Você perdeu'; else fimdeJogoVitoria">
        <p style="color: red">Fim de jogo, você perdeu!</p>
        <button (click)="resetarJogo()" class="btn btn-primary">
            Resetar Jogo
        </button>
    </div>
</ng-template>

<ng-template #fimdeJogoVitoria>
    <p style="color: green">Parabéns campeão!</p>
    <button (click)="resetarJogo()" class="btn btn-primary">
        Resetar Jogo
    </button>
</ng-template>