<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <app-progresso
        [totalSteps]="quantidadeRodadas"
        [stepAtual]="rodada"        
        ></app-progresso>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-end">
          <app-tentativas
          [tentativas]="tentativas"
          ></app-tentativas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>{{instruction}}</h6>
        <p>{{rodadaFrase.fraseEng}}</p>
        <div class="form-group">
          <textarea (input)="setResposta($event.target.value)" [value]="resposta" class="form-control" id="frase-ptbr" rows="3"></textarea>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-end">
          <button (click)="verificarResposta()" class="btn btn-primary">
            Verificar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>